@model IEnumerable<DTSMCC_WebApp.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>DEPARTMENT</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Department @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Division @Html.DisplayNameFor(model => model.Division.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id }, null)
            </td>
        </tr>
}
    </tbody>
</table>
